@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style-type: none;
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 10px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active,
a:focus,
a:active,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

img {
  display: block;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: inherit;
}

button,
input[type=submit] {
  background-color: inherit;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

.features__icon, .navbar .logo, .social-media__link {
  display: block;
  position: relative;
}

.swiper-custom__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.features__icon img, .navbar .logo img, .social-media img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
}

.section-title__img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

* {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
@media (max-width: 1024px) {
  * {
    font-size: 14px;
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  font-size: 64px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 24px;
  color: #2d3033;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  h2 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 24px;
  color: #2d3033;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  h3 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  h4 {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  h4 {
    font-size: 14px;
  }
}

h5 {
  font-size: 36px;
  color: #fff;
  font-family: "Cardo", serif;
  font-style: italic;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  h5 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  h5 {
    font-size: 24px;
  }
}

h6 {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
@media (max-width: 1024px) {
  h6 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  h6 {
    font-size: 18px;
  }
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 370px;
  min-height: 80px;
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  background-color: #ff4343;
  transition: 0.3s;
}
@media (max-width: 1024px) {
  .btn a {
    width: 314px;
  }
}
@media (max-width: 768px) {
  .btn a {
    min-height: 60px;
  }
}
@media (max-width: 565px) {
  .btn a {
    width: 100%;
    min-height: 60px;
  }
}
.btn a:hover {
  background-color: #e71414;
}
.btn a:active {
  box-shadow: 4px 4px 30px 0px #ff4343;
  background-color: #ff4343;
}

.social-media__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.social-media__link {
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .social-media__link {
    width: 32px;
    height: 32px;
  }
}
.social-media img {
  width: 50%;
  height: 50%;
}

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .header {
    height: 56px;
  }
}

#section-features,
#section-project,
#section-team,
#section-testimonials,
#section-download {
  scroll-margin-top: 99.07px;
}
@media (max-width: 768px) {
  #section-features,
  #section-project,
  #section-team,
  #section-testimonials,
  #section-download {
    scroll-margin-top: 56px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #babbc5;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .navbar {
    border-bottom: 0;
  }
}
.navbar .logo {
  flex: 0 0 183.862px;
  height: 25.746px;
  z-index: 100;
}
@media (max-width: 768px) {
  .navbar .logo {
    flex: 0 0 103.47px;
    height: 14.35px;
    padding-bottom: 56px;
  }
}
.menu {
  display: flex;
}
@media (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  padding: 43px 0 42px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s;
  position: relative;
}
@media (max-width: 1024px) {
  .menu__item > a {
    font-size: 12px;
    width: 112px;
  }
}
@media (max-width: 768px) {
  .menu__item > a {
    font-size: 13px;
  }
}
.menu__item > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  transition: 0.3s;
}
.menu__item:hover > a::before {
  background-color: #babbc5;
}
.menu__item:active > a {
  color: #e71414;
}
.menu__item:active > a::before {
  background-color: #e71414;
}

.scrolled {
  background-color: rgba(44, 49, 84, 0.9411764706);
  border-bottom: 1px solid #babbc5;
}
@media (max-width: 768px) {
  .scrolled {
    border-bottom: 0;
  }
}

.scrolled-border {
  border-bottom: 0;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

body.noscroll {
  overflow: hidden;
}

@media (max-width: 768px) {
  .navbar .menu {
    display: none;
  }
  .hamb {
    display: flex;
  }
  .hamb__field {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 19px 15px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 100;
  }
  .hamb__field .bar {
    position: relative;
    display: block;
    width: 24px;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    transition: 0.3s;
  }
  .hamb__field .bar:nth-of-type(1) {
    margin-top: 0px;
  }
  .hamb__field .bar:nth-of-type(3) {
    margin-bottom: 0px;
  }
  .hamb__field:hover .bar:nth-of-type(1) {
    transform: translateY(1.5px) rotate(-4.5deg);
  }
  .hamb__field:hover .bar:nth-of-type(2) {
    opacity: 0.9;
  }
  .hamb__field:hover .bar:nth-of-type(3) {
    transform: translateY(-1.5px) rotate(4.5deg);
  }
  .popup {
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    top: 0;
  }
  .popup #img_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  .popup.open {
    left: 0;
  }
  .popup .menu {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    padding: 56px 20px 0 20px;
    background-color: rgba(37, 43, 73, 0.8);
  }
  .popup .menu__item {
    width: 100%;
  }
  .popup .menu__link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 24px 0;
  }
  .hamb__field.active .bar:nth-of-type(1) {
    transform: translateY(8px) rotate(-45deg);
  }
  .hamb__field.active .bar:nth-of-type(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(45deg);
  }
  .hamb__field.active:hover .bar:nth-of-type(1) {
    transform: translateY(8px) rotate(-40.5deg);
  }
  .hamb__field.active:hover .bar:nth-of-type(2) {
    opacity: 0.1;
  }
  .hamb__field.active:hover .bar:nth-of-type(3) {
    transform: translateY(-8px) rotate(40.5deg);
  }
}
.section-title {
  position: relative;
  padding: 230px 0 120px;
  background-color: rgba(37, 43, 73, 0.8);
}
@media (max-width: 1024px) {
  .section-title {
    padding: 257px 0 126px;
  }
}
@media (max-width: 768px) {
  .section-title {
    padding: 106px 0 52px;
  }
}
.section-title__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 565px) {
  .section-title__wrapper {
    align-items: stretch;
  }
}
.section-title h1 {
  margin-bottom: 31px;
}
@media (max-width: 1024px) {
  .section-title h1 {
    margin-bottom: 61px;
  }
}
@media (max-width: 768px) {
  .section-title h1 {
    margin-bottom: 32px;
  }
}
.section-title p {
  font-size: 24px;
  margin-bottom: 79px;
  color: #fff;
  max-width: 999px;
  line-height: normal;
}
@media (max-width: 1024px) {
  .section-title p {
    margin-bottom: 89px;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .section-title p {
    margin-bottom: 49px;
  }
}

.section-features {
  padding: 127px 0 133px;
}
@media (max-width: 1024px) {
  .section-features {
    padding: 78px 0 80px;
  }
}
@media (max-width: 768px) {
  .section-features {
    padding: 40px 0 34px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 97px 20px;
}
@media (max-width: 1024px) {
  .features__list {
    gap: 49px 30px;
  }
}
@media (max-width: 768px) {
  .features__list {
    gap: 41px 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 570px));
    justify-content: center;
  }
}
.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features__item h2 {
  margin-bottom: 42px;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .features__item h2 {
    margin-bottom: 23px;
  }
}
@media (max-width: 768px) {
  .features__item h2 {
    margin-bottom: 8px;
  }
}
.features__icon {
  width: 100px;
  height: 100px;
  margin-bottom: 23px;
}
@media (max-width: 1024px) {
  .features__icon {
    width: 85px;
    height: 85px;
    margin-bottom: 63px;
  }
}
@media (max-width: 768px) {
  .features__icon {
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
  }
}
.features__icon img {
  width: 85%;
  height: 85%;
}

.project__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 768px) {
  .project__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
.project__item {
  position: relative;
  width: 100%;
  border: 1px solid #fff;
}
.project__name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(255, 67, 67, 0.8);
  opacity: 0;
  transition: 0.3s;
}
.project__title {
  font-size: 24px;
  color: #fff;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 36px;
}
@media (max-width: 1024px) {
  .project__title {
    font-size: 18px;
    margin-bottom: 22px;
  }
}
@media (max-width: 768px) {
  .project__title {
    font-size: 18px;
    margin-bottom: 7px;
  }
}
.project__subtitle {
  color: #fff;
}
.project__item:hover .project__name {
  opacity: 1;
}
.project img {
  display: block;
  width: 100%;
  z-index: -1;
}

.section-team {
  padding: 114px 0;
}
@media (max-width: 1024px) {
  .section-team {
    padding: 78px 0;
  }
}
@media (max-width: 768px) {
  .section-team {
    padding: 35px 0;
  }
}

.team__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 30px;
}
@media (max-width: 1024px) {
  .team__list {
    gap: 0 25px;
  }
}
@media (max-width: 768px) {
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 49px 30px;
  }
}
@media (max-width: 401px) {
  .team__list {
    grid-template-columns: 1fr;
    gap: 49px 30px;
  }
}
.team__item {
  display: flex;
  flex-direction: column;
}
.team__photo {
  margin-bottom: 30px;
  flex-grow: 1;
}
@media (max-width: 1024px) {
  .team__photo {
    margin-bottom: 27px;
  }
}
@media (max-width: 768px) {
  .team__photo {
    margin-bottom: 25px;
  }
}
.team img {
  width: 100%;
}
.team__title {
  flex-grow: 1;
  margin-bottom: 6px;
}
.team__subtitle {
  flex-grow: 1;
  margin-bottom: 17px;
  color: #ff4343;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .team__subtitle {
    margin-bottom: 22px;
  }
}
@media (max-width: 768px) {
  .team__subtitle {
    margin-bottom: 38px;
  }
}
.team__text {
  flex-grow: 1;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .team__text {
    margin-bottom: 39px;
  }
}
@media (max-width: 768px) {
  .team__text {
    margin-bottom: 55px;
  }
}

.swiper-custom {
  margin-bottom: 31px;
}
@media (max-width: 768px) {
  .swiper-custom {
    margin-bottom: 23px;
  }
}
.swiper-custom__slide {
  display: flex;
}
@media (max-width: 768px) {
  .swiper-custom__slide {
    flex-direction: column;
  }
}
.swiper-custom__section-text {
  flex: 0 0 100%;
  display: flex;
  background-color: #5c3249;
}
.swiper-custom__section-text h5 {
  margin-bottom: 17px;
}
.swiper-custom__section-text p {
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.swiper-custom__container-text {
  max-width: 1200px;
  padding: 23px 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  .swiper-custom__container-text {
    padding: 23px 15px 95px 15px;
  }
}
.swiper-custom__body-text {
  width: 38vw;
  padding-left: 114px;
}
.swiper-custom__body-text P {
  font-size: 13px;
}
@media (max-width: 1240px) and (min-width: 1024px) {
  .swiper-custom__body-text {
    padding-left: 80px;
  }
  .swiper-custom__body-text h5 {
    font-size: 30px;
  }
}
@media (max-width: 1024px) {
  .swiper-custom__body-text {
    padding-left: 73px;
  }
}
@media (max-width: 768px) {
  .swiper-custom__body-text {
    width: 100%;
    padding-left: 0;
    text-align: center;
    font-weight: 400;
  }
  .swiper-custom__body-text h5 {
    margin-bottom: 23px;
  }
  .swiper-custom__body-text P {
    font-size: 12px;
  }
}
.swiper-custom__img {
  position: relative;
  flex: 0 0 49%;
  padding: 0 0 32.5% 0;
}
@media (max-width: 768px) {
  .swiper-custom__img {
    flex-direction: column;
    padding: 0 0 66.3% 0;
  }
}
.pagination-custom {
  min-height: 17px;
}
.pagination-custom .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: transparent;
  border: 1px solid #7e5d6f;
  opacity: 1;
}
@media (max-width: 768px) {
  .pagination-custom .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
  }
}
.pagination-custom .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  top: 0;
}
.pagination-custom .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 25px;
}
@media (max-width: 768px) {
  .pagination-custom .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 20px;
  }
}
.pagination-custom .swiper-pagination-bullet-active {
  background: #7e5d6f;
}

.section-download {
  padding: 132px 0 114px;
}
@media (max-width: 1024px) {
  .section-download {
    padding: 93px 0 78px;
  }
}
@media (max-width: 768px) {
  .section-download {
    padding: 53px 0 45px;
  }
}
.section-download__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 565px) {
  .section-download__wrapper {
    align-items: stretch;
  }
}
.section-download__title {
  margin-bottom: 22px;
}
.section-download__subtitle {
  margin-bottom: 47px;
}
@media (max-width: 768px) {
  .section-download__subtitle {
    margin-bottom: 11px;
  }
}

.footer-content {
  background-color: #353c65;
  padding: 71px 0 67px;
}
@media (max-width: 1024px) {
  .footer-content {
    padding: 46px 0 64px;
  }
}
@media (max-width: 768px) {
  .footer-content {
    padding: 34px 0 33px;
  }
}
.footer-content__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .footer-content__wrapper {
    grid-template-columns: 1fr;
    gap: 60px;
  }
}
.footer-content__contacts-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-content__contacts-item h4 {
  margin-bottom: 29px;
}
@media (max-width: 1024px) {
  .footer-content__contacts-item h4 {
    margin-bottom: 17px;
  }
}
@media (max-width: 768px) {
  .footer-content__contacts-item h4 {
    margin-bottom: 34px;
  }
}
.footer-content__contacts-item p {
  color: #fff;
}
.footer-content__contacts-item:nth-child(2) h4 {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .footer-content__contacts-item:nth-child(2) h4 {
    margin-bottom: 36px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
  background-color: #2c3154;
  padding: 24px 0;
}
@media (max-width: 768px) {
  .footer-copyright {
    padding: 29px 0;
  }
}
.footer-copyright p {
  max-width: 370px;
  text-align: center;
  color: #808080;
}
.footer-copyright span {
  color: #fff;
}