// Основные стили

*{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

.wrapper{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

#features,
#project,
#team,
#testimonials,
#download{
	scroll-margin-top: 99.07px;
}

.text-uppercase{
	text-transform: uppercase;
}