// Создание переменных

// colors

$color-1: #fff;
$color-2: #ff4343;
$color-3: #808080;
$color-4: #2d3033;
$color-5: #e71414;
$color-6: #babbc5;
$color-7: #c6cbcd;
$color-8: #7e5d6f;
$color-9: #252b49;
$color-10: #5c3249;
$color-11: #353c65;
$color-12: #2c3154;
$color-13: #6c7279;
$color-rgba-1: rgba(255, 67, 67, 0.8);

// font-size

$h1: 64px;
$h2: 24px;
$h3: 24px;
$h4: 18px;
$h5: 36px;
$h6: 30px;

$h1-tablet: 48px;
$h2-tablet: 18px;
$h3-tablet: 18px;
$h4-tablet: 14px;
$h5-tablet: 24px;
$h6-tablet: 24px;

$h1-mobile: 36px;
$h2-mobile: 18px;
$h3-mobile: 18px;
$h4-mobile: 14px;
$h5-mobile: 24px;
$h6-mobile: 18px;