// Создание переменных

// colors

$color-1: #fff;
$color-2: #FF4343;
$color-3: #808080;
$color-4: #2D3033;
$color-5: #E71414;
$color-6: #BABBC5;
$color-7: #C6CBCD;
$color-8: #7E5D6F;
$color-9: #252B49;
$color-10: #5C3249;
$color-11: #353C65;
$color-12: #2C3154;
$color-13: #6C7279;



// font-size

$h1: 64px;
$h2: 24px;
$h4: 30px;
$h5: 18px;
$h6: 36px;
// $h1-mobile: 26px;