.footer-content {
	background-color: $color-11;
	padding: 71px 0 67px;
	@media (max-width: 1024px) {
		padding: 46px 0 64px;
	}
	@media (max-width: 768px) {
		padding: 34px 0 33px;
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			gap: 60px;
		}
	}
	&__contacts-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h4 {
			margin-bottom: 29px;
			@media (max-width: 1024px) {
				margin-bottom: 17px;
			}
			@media (max-width: 768px) {
				margin-bottom: 34px;
			}
		}
		p {
			color: $color-1;
		}
	}
	&__contacts-item:nth-child(2) {
		h4 {
			margin-bottom: 48px;
			@media (max-width: 768px) {
				margin-bottom: 36px;
			}
		}
	}
}

.footer-copyright {
	display: flex;
	justify-content: center;
	background-color: $color-12;
	padding: 24px 0;
	@media (max-width: 768px) {
		padding: 29px 0;
	}
	p {
		max-width: 370px;
		text-align: center;
		color: $color-3;
	}
	span {
		color: $color-1;
	}
}
