.section-features{
	padding: 127px 0 133px;
}

.section-features{
	&__list{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 30px;
		row-gap: 97px;
	}
	&__item{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h2{
			margin-bottom: 42px;
		}
	}
	&__icon{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100px;
		margin-bottom: 63px;
		img{
			width: 85%;
			height: 85%;
			object-fit: contain;
			}
	}
}