.section-features {
	padding: 127px 0 133px;
}

.features {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, auto));
		gap: 97px 30px;
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h2 {
			margin-bottom: 42px;
			flex-grow: 1;
		}
	}
	&__icon {
		@extend %img-container;
		width: 100px;
		height: 100px;
		margin-bottom: 63px;
		img {
			@extend %img-ico;
			width: 85%;
			height: 85%;
		}
	}
}