.section-features {
	padding: 127px 0 133px;
	@media (max-width: 1024px) {
		padding: 78px 0 80px;
	}
	@media (max-width: 768px) {
		padding: 40px 0 34px;
	}
}

.features {
	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, auto));
		gap: 97px 20px;
		@media (max-width: 1024px) {
			gap: 49px 30px;
		}
		@media (max-width: 768px) {
			gap: 41px 30px;
		}
	}
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		h2 {
			margin-bottom: 42px;
			flex-grow: 1;
			@media (max-width: 1024px) {
				margin-bottom: 23px;
			}
			@media (max-width: 768px) {
				margin-bottom: 8px;
			}
		}
	}
	&__icon {
		@extend %img-container;
		width: 85px;
		height: 85px;
		margin-bottom: 23px;
		@media (max-width: 1024px) {
			width: 75px;
			height: 75px;
			margin-bottom: 63px;
		}
		@media (max-width: 768px) {
			width: 100px;
			height: 100px;
			margin-bottom: 20px;
		}
		img {
			@extend %img-ico;
			width: 85%;
			height: 85%;
		}
	}
}
