.project {
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@media (max-width: 769px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	&__item {
		position: relative;
		width: 100%;
		border: 1px solid #fff;
	}
	&__name {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: $color-rgba-1;
		opacity: 0;
		transition: 0.3s;
		h2 {
			margin-bottom: 36px;
			@media (max-width: 1025px) {
				margin-bottom: 22px;
			}
			@media (max-width: 769px) {
				margin-bottom: 7px;
			}
		}
		& > * {
			color: $color-1;
		}
	}
	&__item:hover &__name {
		opacity: 1;
	}
	img {
		display: block;
		width: 100%;
		z-index: -1;
	}
}
