.project {
	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	&__item {
		@extend %img-container;
		width: 100%;
		min-height: 340px;
		border: 1px solid #fff;
	}
	&__name {
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: $color-rgba-1;
		opacity: 0;
		transition: 0.3s;
		h2 {
			margin-bottom: 36px;
		}
		& > * {
			color: $color-1;
		}
	}
	&__item:hover &__name {
		opacity: 1;
	}
	img {
		@extend %img-content;
		z-index: -1;
	}
}
