.section-title {
	position: relative;
	padding: 230px 0 120px;
	background-color: rgba(37, 43, 73, 0.8);
	&__img-bg {
		@extend %img-bg;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	h1 {
		margin-bottom: 31px;
	}
	p {
		margin-bottom: 79px;
		color: $color-1;
		max-width: 999px;
		line-height: normal;
	}
}
