.swiper-custom {
	background-color: $color-10;
	margin-bottom: 31px;
	&__wrapper {
	}
	&__link {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	&__img {
		margin-right: 129px;
		img {
		}
	}
	&__text {
		max-width: 471px;
		padding-right: 15px;
		h5 {
			margin-bottom: 17px;
		}
		p {
			color: $color-1;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}
}

.pagination-custom {
	min-height: 18px;
	.swiper-pagination-bullet {
		width: 18px;
		height: 18px;
		background: transparent;
		border: 1px solid $color-8;
		opacity: 1;
	}
	.swiper-pagination-bullets.swiper-pagination-horizontal{
		bottom: 0;
		top: 0;
	}
	.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
		margin: 0 25px;
	}
	.swiper-pagination-bullet-active {
		background: $color-8;
	}
}